---
import Section from "../../common/Section.astro";
import Picture from "../../common/Picture.astro";
import Button from "../../common/Button.astro";

const { data } = Astro.props;
---

<Section>
  <Picture class="img" path={data.image.path} sizes={data.image.sizes}/>
  <h1 class="title gl-title" set:html={data.title} />
  <p class="descr gl-descr" set:html={data.descr} />
  <div class="buttons">
    {data.buttons.map((button) => (
      <Button color={button.color}>{button.text}</Button>
    ))}
  </div>
</Section>

<style lang="scss">
.img {
  margin: 0 auto;
}

.title {
  margin-bottom: 3rem;
  line-height: 1.1;
  background: linear-gradient(177deg, #4aa9ff 0%, #4ad5ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include tablet {
    font-size: 5rem;
  }
  @include laptop {
    font-size: 6rem;
  }
}

.descr {
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;

  @include mobile-only {
    flex-direction: column;
  }
}
</style>
