---
import Picture from "@/components/common/Picture.astro";

const { data, class: className = '', ...rest } = Astro.props;
---

<div class:list={["banner", className]} {...rest}>
  <div class="banner__content">
    <h4 class="banner__title gl-title" set:html={data.title} />
    <p class="banner__descr gl-descr" set:html={data.descr} />
    <span class="banner__label" set:html={data.label} />
  </div>
  <Picture class="banner__image" path={data.image.path} sizes={data.image.sizes} />
</div>

<style lang="scss">
.banner {
  background: linear-gradient(129deg, #4aa9ff 0%, #4ad5ff 100%);
  border-radius: 1.6rem;

  @include tablet {
    display: flex;
    background: linear-gradient(143deg, #4aa9ff 0%, #4ad5ff 100%);
    border-radius: 2rem;
  }

  @include laptop {
    border-radius: 3rem;
  }
}

.banner__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  padding: 1.6rem;
  color: var(--light-primary);

  @include tablet {
    padding: 3rem;
    padding-right: 0;
  }
}

.banner__title {
  font-size: 3rem;
  text-align: left;
  color: inherit;

  @include tablet {
    line-height: 1;
  }
}

.banner__descr {
  text-align: left;

  @include laptop {
    font-size: 1.8rem;
  }
}

.banner__label {
  align-self: flex-start;
  order: -1;
  border-radius: 10rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--dark-secondary);
  background-color: var(--light-primary);

  @include tablet {
    order: 0;
    margin-top: auto;
  }
}

.banner__image {
  @include mobile-only {
    margin-left: auto;
  }
}
</style>
