---
import Icon from './Icon.astro';
const { data, class: className = '', ...rest } = Astro.props;
---

<ul class={`social ${className}`} {...rest}>
  {data.map((item) => (
    <li>
      <a class="social-link" href={item.link.href} target="_blank">
        <Icon name={item.icon.name} width={item.icon.width} height={item.icon.height} />
        <span class="sr-only">{item.link.text}</span>
      </a>
    </li>
  ))}
</ul>

<style lang="scss">
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 1.6rem;
}

.social-link {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-primary);
  background-color: rgba(#4AA9FF, 0.1);
  border-radius: 50%;
}
</style>
